**1. List** *Lists are mutable*

In [1]:
firstlist = [1,2,3]
secondlist = [4,5,6]
concatList = firstlist + secondlist
print(concatList)

[1, 2, 3, 4, 5, 6]

In [52]:

# copy a list
a = [1,2,3]
b = a
b[0] = 100
print(a)
print(b)

[100, 2, 3]
[100, 2, 3]

In [13]:
a = [1,2,3]
b = a
c = list(a) # c is a copy of a
b[0] = 100
print(a)
print(b)
print(c)
print(id(a)) #ID number of object in computer memory
print(id(b)) 
print(id(c))

[100, 2, 3]
[100, 2, 3]
[1, 2, 3]
4448629768
4448629768
4409403016

*list operation*

In [26]:
#help(list)

*Iterate in List*

In [15]:
for i in range(10):
    print(i,end= ', ')

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [19]:
mylist = [1,2,4,'another']
for index,elem in enumerate(mylist): # iterate in both index and elements at the same time
    print('{0})  ' '{1}'.format(index,elem))

0)  1
1)  2
2)  4
3)  another

*map*

In [21]:
l1 = [0,1,2,3,4,5,6]
l2 = map(lambda x: x*x*x, l1) 
# apply a function to all elements of a list using map and return result in a new object
print('l2: ', list(l2))

l2:  [0, 1, 8, 27, 64, 125, 216]

*filter*

In [22]:
l1 = [0,1,2,3,4,5,6]
# filter elements of a list using filter
l2 = filter(lambda x: x % 2 == 0, l1)
print('l2: ', list(l2))

l2:  [0, 2, 4, 6]

*List comprehensions*

In [25]:
l1 = [0,1,2,3,4,5,6]
l2 = [x**2 for x in l1]
print('l2: ', l2)

l2:  [0, 1, 4, 9, 16, 25, 36]

**2. Tuples**

In [ ]:
import sys
max = sys.maxsize
print(max)

In [15]:
my_tuple = ('string',43,99)
mytuple1,mytuple2,mytuple3 = my_tuple
print(mytuple1)
print(mytuple2)
print(mytuple3)

string
43
99

In [18]:
def simple_function():
    return 1,2,3
print(simple_function())

a,b,c = simple_function()
print(a,b,c)

(1, 2, 3)
1 2 3

**3. dictionary**

In [21]:
d = {}
c = dict()
print(type(d))
print(type(c))

<class 'dict'>
<class 'dict'>

In [35]:
d = {1:7,2:8,3:9,4:10}
12 in d.keys()

False

In [48]:
for key in d.keys():
    print(key)
for value in d.values():
    print(value)
for key,value in d.items():
    print(key,":",value)
for item in d.items():
    print(item) # returns a tuple of values

1
2
3
4
7
8
9
10
1 : 7
2 : 8
3 : 9
4 : 10
(1, 7)
(2, 8)
(3, 9)
(4, 10)

In [50]:
print(d.items())
print(type(d.items()))

dict_items([(1, 7), (2, 8), (3, 9), (4, 10)])
<class 'dict_items'>

In [51]:
# default dictionary looping: keys
for x in d:
    print(x)

1
2
3
4

In [55]:
# sort dictionary:
sibling = [{'name':'cindy','age':12},{'name':'chang','age':15}]
sorted(sibling,key = lambda d:d['age'],reverse=True)

[{'age': 15, 'name': 'chang'}, {'age': 12, 'name': 'cindy'}]

**3. Set**

In [58]:
basket = ['apple','orange','pear','banana','apple','orange']
fruit = set(basket)
print(fruit)

{'pear', 'orange', 'apple', 'banana'}

In [61]:
# check existance of fruit
print('apple' in fruit)

# set operation
# 1.union
ihave = set([1,2,3,4,5,6,7])
youhave = {7,8,9}
wehave = ihave.union(youhave)
print(wehave)

True
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [64]:
# 2.intersection
ihave = set([1,2,3,4,5,6,7])
youhave = {7,8,9}
webothhave = ihave.intersection(youhave)
print(webothhave)

{7}

In [74]:
a = {'one':1,'two':2}
print(a)
a[2] = 3
print(a)

{'one': 1, 'two': 2}
{'one': 1, 'two': 2, 2: 3}

In [73]:
airdates = {"a":"b","c":"d"}
print(list(airdates.keys()))

['a', 'c']